@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

body{
    margin: 0;
    display: flex;
}

.main ~ div{
    border: red 1px solid;
}

.mainContent{
    display: flex;
    flex-direction: row;
    min-height: 900px;
    min-width: 1200px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    background-image: url("./imgs/photo-1585202900225-6d3ac20a6962.avif");
    background-size: 50vh;
}

.credit{
    text-align: center;
    color: white;
}
.credit a{
    color: white;
}

.odin-container{
    padding-top: 10vh;
}

.odin{
    display: flex;
    position: relative;
    height: 7.5em;
    align-items: center;
    justify-content: center;
    background-color:rgb(0 0 0 / 50%);
}

.odinImage{
    height: 6.5em;
}

.odinText{
    font-family: Norse-Bold;
    font-size: 6.5em;
    color: white;
}

.credit{
    padding: 10px;
}

.main{
    height: min-content;
}

.top-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:rgba(206, 200, 200, 0.25);
    height: 25vh;
}

.testimony{
    display: flex;
    flex-direction: column;
    word-wrap: normal;
}

legend{
    padding-top: 10px;
}

.form-section{
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 18vh;
}

.form-legend, .testimony1, .testimony2, .sarcasm {
    font-size: 24px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
}

.first-name, .last-name, .email-section, .contact-section, .password-section, .confirm-password-section{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.contact-legend, .password-legend, .confirm-password-legend{
    display: flex;
    justify-content: space-between;
}

.name-input, .contact-input, .password-input, .confirm-password-input{
    display: flex;
    justify-content: space-evenly;
}

.form-nav {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    padding-left: 40px;
    background-color:rgba(206, 200, 200, 0.25);
    height: 27vh;
}

legend{
    font-weight: bold;
}

label {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

input {
    border-color: #E5E7EB;
    border-radius: 5px;
    margin-top: 2px;
    height: 2em;
    width: 250px;
    /* padding-right: 50px;
    padding-bottom: 10px; */
}

input:focus{
    border: blue 1px solid;
}

input:invalid {
    border: red 1px solid;
}

button {
    background-color: #596D48;
    border: 0;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    color: white;
    font-weight: bolder;
}

.action{
    margin-top: 15px;
}